body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  /* font-family: 'Almendra Display', cursive; */
  /* font-family: 'Amita', cursive; */
  /* font-family: 'Cedarville Cursive', cursive; */
  /* font-family: 'Klee One', cursive; */
  /* font-family: 'Lobster Two', cursive; */
  /* font-family: 'Mountains of Christmas', cursive; */
  /* font-family: 'Princess Sofia', cursive; */
}

h5 {
  font-family: 'Cedarville Cursive', cursive;
}
